// =============================================================================
// Content breakpoints
// =============================================================================
$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

// =============================================================================
// Container max-widths
// =============================================================================
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

// =============================================================================
// Brand Colors
// =============================================================================

$brand-primary: #2552B7;
$brand-primary-darker: #1A1A2E;

// =============================================================================
// Text Colors
// =============================================================================

$text-primary: #060626;
$text-secondary: #66667F;
$text-tertiary: #B0B0C6;
$text-invert: #FFFFFF;
$text-black: #000000;
