// =============================================================================
// Content breakpoints
// =============================================================================
$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

// =============================================================================
// Container max-widths
// =============================================================================
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

// =============================================================================
// Brand Colors
// =============================================================================

$brand-primary: #2259E5;
$brand-primary-hover: #2E70EE;
$brand-primary-active: #0B42E2;
$brand-membership: #F75E70;
$brand-marketing: #00D1D9;
$brand-mark: #99e7eb;

// =============================================================================
// Surface Colors
// =============================================================================

$surface-lines: #D8DAE6;
$surface-back: #F0F1F5;

// =============================================================================
// Text Colors
// =============================================================================

$text-primary: #060626;
$text-secondary: #66667F;
$text-tertiary: #B0B0C6;
$text-invert: #FFFFFF;
$text-black: #000000;

// =============================================================================
// Semantic Colors
// =============================================================================

$semantic-success: #4BC92C;
$semantic-info: #47BBFF;
$semantic-warning: #FFAB3D;
$semantic-error: #F23D30;

// =============================================================================
// Other Colors
// =============================================================================

$link-hover: #4081FF;
$snack-from: #FF5061;
$snack-to: #FF3F63;
$pin-bg: #fff7ec;
$button-support: #F9FAFC;
$verification-button: #ecf2fc;
$widget-bg: #F7FAFE;
$widget-link: #552BC1;
$funds-text: #643AC5;
$popup-notify: #fcecea;
$support-hover: #f4f7fe;
$message-hover: #F7F8FA;
