.footer {
    font-size: 1rem;
    height: calc(100vh - 9em);
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-bottom: 9em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__info-wrapper {
        position: relative;
        z-index: 1;
        bottom: 6em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include media-md {
            margin-right: 8em;
        }
    }

    &__info-button {
        margin-left: 1em;

        &:hover {
            & + .develop-info {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
