.footer {
    font-size: 1rem;
    z-index: 1;
    position: relative;
    margin-bottom: 9em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__container {
        width: 100%;
    }

    &__info-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    &__info-button {
        margin-left: 1em;

        &:hover {
            & + .develop-info {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
