@import "../abstracts/mixins";
// =============================================================================
// JetBrains Mono
// =============================================================================
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

*, *:before, *:after {
    text-rendering: optimizeLegibility;
}

html {
    font-size: 16px;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    line-height: 2em;
    font-weight: 400;
    font-style: normal;
    color: $black;
}

a,
input[type='text'],
input[type='checkbox'],
input[type='password'],
input[type='email'],
textarea,
label {
    -webkit-tap-highlight-color: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    display: inline-flex;
    font-weight: 700;
}

.medium {
    font-weight: 700;

    &-border {
        border-bottom: 2px solid $white;
    }
}

.bold {
    font-weight: 800;
    color: $yellow;

    &-border {
        color: $yellow;
        border-bottom: 2px solid $yellow;
    }
}
