.button {
    font-size: 1rem;
    font-weight: 700;
    color: $white;
    background: $black;
    border: 2px solid $white;
    text-transform: uppercase;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        color: $yellow;
    }
}
