.develop-info {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    position: absolute;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    bottom: calc(100% + 2em);
    left: 100%;
    width: 12em;
    background-color: $black;
    color: $white;
    border: 0.125em solid $white;
    padding: 1em 2em;
    transition: .3s ease-out;
    opacity: 0;
    visibility: hidden;

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    }

    &:before {
        bottom: -16px;
        left: calc(100% - 40px);
        border: 8px solid;
        border-color: $white $white transparent transparent;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    &:after {
        bottom: -11px;
        left: calc(100% - 42px);
        border: 12px solid;
        border-color: $black $black transparent transparent;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        font-weight: 800;
    }

    &__heart-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__heart {
        fill: $yellow;
        position: relative;
        width: 1.5em;
        animation: pulse 3s ease infinite;
        margin: 0 0.5em;
    }

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        font-size: 2rem;
    }

    &__text {
        font-size: 0.875rem;
        line-height: 1.5em;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__text-title {
        font-weight: 700;
    }
}
