.navbar {
    font-size: 1rem;
    background-color: $black;
    color: $white;
    border-top: 2px solid $white;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
    }

    &__link {
        font-size: 0.875rem;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        border-left: 2px solid $white;
        padding: 0.5em 0.75em;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media-sm {
            font-size: 1rem;
            padding: 1em 2em;
        }

        &:last-child {
            margin-right: 0;
        }

        &-active {
            color: $yellow;
        }
    }

    &__icon {
        font-size: 2rem;
    }

    &__text {
        margin-top: 0.5em;
    }
}
