.speech-bubble {
    font-size: 1rem;
    line-height: 1.5em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2.5em;
    text-align: center;
    margin: 0 0 2.5em 0;
    background-color: $black;
    color: $yellow;
    border: 0.125em solid $white;
    padding: 1em 2em;
    box-sizing: content-box;

    & * {
        box-sizing: content-box;
    }

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    }

    &:before {
        left: 100px;
        bottom: -32px;
        border: 16px solid;
        border-color: $white $white transparent transparent;
    }

    &:after {
        left: 102px;
        bottom: -27px;
        border: 14px solid;
        border-color: $black $black transparent transparent;
    }
}
