.heading {
    &_type {
        &_h2 {
            font-size: 2rem;
            border: 2px solid white;
            margin-bottom: 0.5em;
        }

        &_h3 {
            font-size: 1.5rem;
            color: $yellow;
            font-weight: 700;
            margin-bottom: 0.5em;
        }

        &_h4 {
            font-size: 1.25rem;
            color: $white;
            font-weight: 700;
            margin-bottom: 0.5em;
        }
    }

    &__first {
        background-color: $black;
        color: $yellow;
        font-weight: 800;
        padding: 0.5em 0 0.5em 0.5em;
    }

    &__last {
        background-color: $white;
        color: $black;
        padding: 0.5em 0.5em 0.5em 0;
    }
}
